<!DOCTYPE html>
<html lang="en">

<head>
    <title>DevSecOps Profile</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static_files', filename='css/style-profile.css') }}">
</head>

<body>
    <div id="snippetContent">
        <div class="container ">
            <section class="col-md-12">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-header-headshot"></div>
                            </div>
                            <div class="card-content">
                                <div class="card-content-member">
                                    <h4 class="m-t-0">Natalie Dubotolkova</h4>
                                    <p class="m-0"><i class="pe-7s-map-marker"></i>Saint Petersburg</p>
                                </div>
                                <div class="card-content-summary">
                                    <p>DevSecOps, AppSec, DevOps, Threat Modelling </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-8">
                        <div class="description-block">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="review-block-title">Education</div>
                                    <div class="review-block-description">
                                        <p>I received my first education at Peter the Great Polytechnic University
                                            (SPbPU). The bachelor's degree course was "Applied Computer Science" at the
                                            Institute of Computer Science and Technology. As her main job, she developed
                                            an Android application in the Kotlin language.</p>
                                        <p>I also received my master's degree from Peter the Great University. The field
                                            of study is "Technologies for designing system and application software".
                                            Extensive work in the master's degree was devoted to the study of methods of
                                            statistical code analysis in the Golang language.</p>
                                        <p>Most of the time in the master's degree was devoted to project work
                                            (discipline of Software Development Technology), where teams of students
                                            were formed who needed to complete a practical task. My team had to make a
                                            web application to test candidates for developer positions. In addition,
                                            such disciplines as network security and computer network administration
                                            were studied.</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="review-block-title">Additional Education</div>
                                    <div class="review-block-description">
                                        <p>One year ago, I got acquainted with a course on web application compliance
                                            testing from <a href="https://codeby.school/">Codeby</a>.</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="review-block-title">Professional Experience</div>
                                    <div class="review-block-description">
                                        <p>The first work experience was in quality. A clean job at Epam Systems.
                                            Consider that one day I became interested in and am listed in the role of a
                                            security champion, which I quickly took over as head of a colleague. In my
                                            review, it was shown that OWASP is TOP10 in .Net, Java editor, updating the
                                            library, keeping the model up to date.</p>
                                        <p>After transferring to another project, I started analyzing the results after
                                            penetration Testing, and a program for project preparation was created.</p>
                                        <p>I currently hold the position of software developer at Базис". I develop
                                            pipelines, programming, and write code in Python, C++, Java, and GoLang.</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="review-block-title">Nowdays</div>
                                    <div class="review-block-description">
                                        <p>At the moment, I spend most of my time on security in container
                                            infrastructures and am working on my master's thesis "Threat modeling to
                                            increase security in the development of containerized applications."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </section>

    </div>
    <footer class="py-3 my-4">
        <p class="text-center text-muted">2024</p>
    </footer>

    </div>
</body>

</html>